* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ff8787;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #ff8787;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

input {
    background-color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    background-color: #ff9a9a;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #ff7373;
}

a {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .form-container {
        width: 100%;
        padding: 20px;
    }
}
